/*Reglas generales*/
*{
	margin: 0;
	padding: 0;
}
body{
	overflow-x: hidden;
}
html{
	font-size: 62.5%;
}

/*Estilos de la aplicación*/
/*INICIO ESTILO GRID PRINCIPAL*/

/*FIN ESTILO GRID PRINCIPAL*/
.grilla {

    display: grid;
    grid-template-areas:
        "header header header"
        "container container container"
        "container container container"
        "footer footer footer";
    grid-template-columns: repeat(3,1fr);
    grid-template-rows: 1fr auto auto 1fr;

}

/*INICIO ESTILOS HEADER*/
.header--container {

    grid-area: header;
    background-color: #B10BB5;
    color:whitesmoke;
    display: flex;
    justify-content: space-between;
    align-items: center;
    position:sticky;
    top: 0px;
    
   
}

.header__logo {

    height: 90px;
    width: 90px;
    margin-left: 1rem;
}

.header__nav{
    margin-right: 1rem;
}

.header__lista{
    display:flex;
    flex-direction:row;
    justify-content: space-between;
    list-style-type: none;

}

.header__lista li{
    
    text-decoration: none;
}

.header__lista li:hover{

    text-decoration: underline;

}

.header__lista li a{
    
    color:white;
    font-size: 2.5rem;
    text-decoration: none;
    margin:1rem;
    
}

/*FIN ESTILOS HEADER*/
/*Main - Index*/

.main--container{
    grid-area: container;
    display: flex;
    flex-direction:column;
    align-items:center;
    background-color: #F52789;
}

.main__img {

    height: 50vh;
    /* height: 400px; */
    width: 80vw;
}

.main--container h1 {

    display: flex;
    color: whitesmoke;
    font-size: 4rem;
    justify-content: center;
    font-weight: bold;

}

.main--container p {

    color: whitesmoke;
    font-size: 2rem;

}
/*Main - Index - Fin*/
/*Main - nosotos - Inicio*/
.nosotros--container{
    display: flex;
    flex-direction:column;
    align-items:center;
    background: url(../assets/img/fondo.jpg) repeat-x 0 0;
}

.nosotros--container img{

    width: 60vw;
    height: 450px;
}

.nosotros--container h1{

    display: flex;
    color: whitesmoke;
    font-size: 4rem;
    justify-content: center;
    font-weight: bold;
    
}

.nosotros--container p{

    color: whitesmoke;
    font-size: 2rem;
    margin-left: 15rem;
    margin-right: 15rem;
    
}


/*Main - nosotros - fin*/
/*Main - arcade - inicio*/
.local--container{
    display: flex;
    flex-direction:column;
    align-items:center;
    background: url(../assets/img/fondo2.jpg) repeat-x 0 0;
}

.local--titulo h1{

    display: flex;
    color: whitesmoke;
    font-size: 4rem;
    justify-content: center;
    font-weight: bold;
    margin-bottom: 1rem;

}
.local--titulo p{
    color: whitesmoke;
    font-size: 2rem;
    margin-left: 15rem;
    margin-right: 15rem;
}

.local--galeria {

    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-content: center;
}

.local--galeria div {

    display: flex;
    flex-direction: column;
    align-items: center;
    border: whitesmoke 0.2rem solid;
    margin: 0.5rem;
    
}

.local--galeria img{
    width: 30vw;
    height: 300px;
}

.local--galeria p{

    color: #B10BB5;
    font-size: 1.2rem;
    font-weight: bold;
}

/*Main - arcade - inicio*/

/*Main - locales - inicio*/

.arcade--container{
    display: flex;
    flex-direction:column;
    align-items:center;
    background: url(../assets/img/fondo2.jpg) repeat-x 0 0;
}

.arcade--titulo h1{

    display: flex;
    color: whitesmoke;
    font-size: 4rem;
    justify-content: center;
    font-weight: bold;
    margin-bottom: 1rem;

}
.arcade--titulo p{
    color: whitesmoke;
    font-size: 2rem;
    margin-left: 15rem;
    margin-right: 15rem;
}

.arcade--galeria {

    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-content: center;
}

.arcade--galeria div {

    display: flex;
    flex-direction: column;
    align-items: center;
    border: whitesmoke 0.2rem solid;
    margin: 0.5rem;
    
}

.arcade--galeria img{
    width: 30vw;
    height: 300px;
}

.arcade--galeria p{

    color: #B10BB5;
    font-size: 1.2rem;
    font-weight: bold;
}

/*Main - locales - fin*/

/*Main - formulario - inicio*/

.form--container{
    display: flex;
    flex-direction:column;
    align-items:center;
    background: url(../assets/img/fondo2.jpg) repeat-x 0 0;
}

.form--container__formulario {

    display: flex;
    flex-direction:column;
    
}

.form--container__formulario form {

    border: whitesmoke 0.2rem solid;;
    width: 50vw;
    height: 300px;
    display: flex;
    flex-direction:column;
    justify-content: space-around;
    align-items: center;
    
}

.form--container__formulario form h1{
    display: flex;
    color: whitesmoke;
    font-size: 3rem;
    justify-content: center;
    font-weight: bold;
    margin-bottom: 1rem;
}
.form--container__formulario form label{
    color: whitesmoke;
    font-size: 2rem;
    font-weight: bold;
}

.form--container__formulario form button{
    
    width: 40vw;
    height: 100px;
}

/*Main - formulario - fin*/


/*FOOTER - INICIO ESTILOS*/
.footer--container{
    display: flex;
    /* flex-direction: row; */
    grid-area: footer;
    /* height: 50px; */
    justify-content: center;
    align-items: center;
    background-color: #27C7EA;
}
.footer--container ul{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    list-style-type: none;
    /* padding-left:0.8rem; */
}

.footer--container li{
    display: flex;
    flex-direction:row;
    justify-content: space-around;
    align-items: center;
    
}

.footer--container li a{
    
    color:white;
    font-size: 2rem;
    text-decoration: none;
    font-family: 'Josefin Sans', sans-serif;
    font-weight: bold;
    text-align: center;
    padding-left: 1rem;
    padding-right: 1rem;
}

.footer--container img {
    width: 30px;
    height:30px;
    margin-right: 0.3rem;
}

.footer--container li:hover{

    text-decoration: underline;

}

/*FOOTER - FIN ESTILOS*/